{
  "parser": "typescript",
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "all",
  "proseWrap": "always"
}
